<mat-card class="task-card">
  <h3 *ngIf="task.tag" class="task-card__title">
    {{ task.tag }}: <strong>{{ task.title }}</strong>
  </h3>
  <h3 *ngIf="!task.tag" class="task-card__title">{{ task.title }}</h3>

  <button class="complete-button" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button *ngIf="task.status !== 'Completed'" mat-menu-item (click)="completeTask()">
      <mat-icon color="accent">done</mat-icon>
      <span>Complete</span>
    </button>
    <button *ngIf="task.status === 'Completed'" mat-menu-item (click)="snoozeTask()">
      <mat-icon color="primary">replay</mat-icon>
      <span>Return</span>
    </button>
    <button mat-menu-item (click)="setTag()">
      <mat-icon color="primary">flag</mat-icon>
      <span>Set tag</span>
    </button>
  </mat-menu>

  <app-time-progress
    class="task-card__progress"
    [plannedTime]="task.plannedTime"
    [neededTime]="task.neededTime"
    [spentTime]="task.spentTime"
  ></app-time-progress>

  <p class="task-card__time">
    <app-time-indicators
      [plannedTime]="task.plannedTime"
      [neededTime]="task.neededTime"
      [spentTime]="task.spentTime"
    ></app-time-indicators>
  </p>

  <mat-card-actions>
    <ng-container *ngIf="isActionsAllowed$ | async">
      <button
        *ngIf="task.status !== 'InWork'"
        mat-icon-button
        color="primary"
        (click)="takeTaskInWork()"
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button
        *ngIf="task.status === 'InWork'"
        mat-icon-button
        color="primary"
        (click)="snoozeTask()"
      >
        <mat-icon>pause</mat-icon>
      </button>
      <button
        *ngIf="task.status !== 'Completed' && task.spentTime / task.plannedTime > 0.25"
        mat-icon-button
        color="warn"
        (click)="reportTimeProgress()"
      >
        <mat-icon>access_time</mat-icon>
      </button>
    </ng-container>
    <div *ngIf="task.employeeName" class="employee-icon task-card__employee-icon">
      {{ task.employeeName | slice: 0:1 }}
    </div>
  </mat-card-actions>
</mat-card>
