@import '~@angular/material/theming';

.task-card {
  @include mat-elevation(0);

  &__progress {
    margin: 16px -16px;
  }

  .mat-card-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__employee-icon {
    margin-left: auto;
    background: mat-color($mat-blue, 700);
    color: $light-primary-text;
  }

  &__time {
    margin: 8px 0 0;
  }
}

.complete-button {
  position: absolute;
  top: 12px;
  right: 4px;
}
