<mat-toolbar [color]="'primary'">
  <div
    *ngFor="let employee of employees"
    class="employee-icon"
    [ngClass]="{ 'employee-icon--active': employee.id === currentEmployee.id }"
    (click)="currentEmployee = employee"
  >
    {{ employee.name | slice: 0:1 }}
  </div>
</mat-toolbar>

<div class="grid">
  <div class="header mat-title">Planned</div>
  <div class="header mat-title">Frozen</div>
  <div class="header mat-title">In Work</div>
  <div class="header mat-title">Completed</div>

  <div *ngFor="let task of tasks" [class]="task.status">
    <mat-card class="task-card">
      <mat-card-title>{{ task.title }}</mat-card-title>
      <mat-progress-bar
        [value]="task.progress"
        [color]="task.plannedTime > task.spentTime ? 'primary' : 'warn'"
      ></mat-progress-bar>
      <p>{{ task.spentTime | time }} / {{ task.plannedTime | time }}</p>
      <div *ngIf="task.employeeName" class="employee-icon">
        {{ task.employeeName | slice: 0:1 }}
      </div>
      <mat-card-actions>
        <button
          *ngIf="task.status !== 'Completed'"
          mat-icon-button
          color="primary"
          (click)="completeTask(task.id)"
        >
          <mat-icon>done_all</mat-icon>
        </button>
        <button
          *ngIf="task.status !== 'InWork'"
          mat-icon-button
          color="primary"
          (click)="takeTaskInWork(task.id)"
        >
          <mat-icon>work</mat-icon>
        </button>
        <button
          *ngIf="task.status === 'InWork' || task.status === 'Completed'"
          mat-icon-button
          color="primary"
          (click)="snoozeTask(task.id)"
        >
          <mat-icon>pause</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<button class="create-task-button" mat-fab (click)="createTask()"><mat-icon>add</mat-icon></button>
