<mat-toolbar [color]="'primary'">
  <div
    *ngFor="let employee of employees"
    class="employee-icon"
    [ngClass]="{ 'employee-icon--active': employee.id === currentEmployee.id }"
    (click)="currentEmployee = employee"
  >
    {{ employee.name | slice: 0:1 }}
  </div>
</mat-toolbar>

<div class="grid">
  <div class="header mat-title">Planned</div>
  <div class="header mat-title">Frozen</div>
  <div class="header mat-title">In Work</div>
  <div class="header mat-title">Completed</div>

  <div *ngFor="let task of tasks" [class]="task.status">
    <mat-card class="task-card" (click)="takeTaskInWork(task.id)">
      <mat-card-title>{{ task.title }}</mat-card-title>
      <mat-card-content>
        <p>{{ task.spentTime | number: '1.0-0' }} mins</p>
        <div *ngIf="task.employeeName" class="employee-icon">
          {{ task.employeeName | slice: 0:1 }}
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-button
          color="primary"
          (click)="$event.stopPropagation(); completeTask(task.id)"
        >
          COMPLETE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<button class="create-task-button" mat-fab (click)="createTask()"><mat-icon>add</mat-icon></button>
