<mat-toolbar class="toolbar">
  <div
    *ngFor="let employee of employees$ | async"
    class="employee-icon"
    [ngClass]="{ 'employee-icon--active': employee.id === (currentEmployee$ | async)?.id }"
    (click)="chooseEmployee(employee)"
  >
    {{ employee.name | slice: 0:1 }}
  </div>
  <button mat-mini-fab color="default" (click)="createEmployee()"><mat-icon>add</mat-icon></button>
</mat-toolbar>

<app-global-time-progress
  [plannedTime]="plannedTime$ | async"
  [neededTime]="neededTime$ | async"
  [spentTime]="spentTime$ | async"
></app-global-time-progress>

<div class="grid">
  <div class="header mat-title">Planned</div>
  <div class="header mat-title">Snoozed</div>
  <div class="header mat-title">In Work</div>
  <div class="header mat-title">Completed</div>

  <div *ngFor="let task of tasks$ | async; trackBy: trackBy" [class]="task.status">
    <app-task-card [task]="task"></app-task-card>
  </div>
</div>

<button class="create-task-button" mat-fab (click)="createTask()"><mat-icon>add</mat-icon></button>
