@import '~@angular/material/theming';

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: dense;

  & > * {
    padding: 8px;
  }
}

.header {
  background-color: #ddd;
  text-align: center;
}

@for $column from 1 to 4 {
  .column-#{$column} {
    grid-column: $column;
  }
}

.Planned {
  grid-column: 1;
}

.Snoozed {
  grid-column: 2;
}

.InWork {
  grid-column: 3;
}

.Completed {
  grid-column: 4;
}

.create-task-button {
  position: fixed;
  top: 24px;
  right: 16px;
}

.employee-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  color: $dark-primary-text;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  @include mat-elevation(1);

  &--active {
    color: mat-color($mat-pink, 500);
    @include mat-elevation(4);
  }

  & + & {
    margin-left: 8px;
  }
}
