@import '~@angular/material/theming';

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: dense;
  padding-bottom: 40px;

  & > * {
    padding: 8px;
    align-items: stretch;
  }

  .Planned {
    grid-column: 1;
  }

  .Snoozed {
    grid-column: 2;
  }

  .InWork {
    grid-column: 3;
  }

  .Completed {
    grid-column: 4;
  }
}

.create-task-button {
  position: fixed;
  bottom: 16px;
  left: 16px;
}
