@import '~@angular/material/theming';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: mat-color($mat-grey, 200);
}

.mat-dark {
  color: $light-primary-text;
}
